<!DOCTYPE html>
<html>
<head>
	<title>Games</title>
</head>
<body>
<style type="text/css">
	table, th, td {
		padding: 5px;
	    border: 1px solid black;
	    border-collapse: collapse;
	}
</style>
	<table border="1">
		<thead>
			<tr>
				<td>Sl. No.</td>
				<td>Player 1</td>
				<td>Player 2</td>
				<td>Winner</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

</body>
</html>