<table>
  <thead>
    <th>
      <td>Oponent</td>
      <td>Result</td>
    </th>
  </thead>
  <tbody>
    <% for(var i=0 ; i<data.length ; i++) { %>
      <tr>
        <td><%= data[i].playedWith %><td>
        <td><%if(data[i].result){%>Won<%}else{%>Lost<%}%><td>
      </tr>
    <% } %>
  </tbody>
</table>
