<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Battleship - &eta;vision</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/indexstyle.css">
      <link rel="stylesheet" href="/css/fonts.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="description" content="Olympic Quiz">
      <meta name="author" content="Nvision 2016">
      <meta name="keyword" content="techno-management,technical,IIT Hyderabad,fest,competitions,events,game,battle,ship,battleship,multiplayer">
      <meta name="robots" content="index, follow">

      <meta property="og:url" content="https://battleship.nvision.org.in/"/>
      <meta property="og:type" content="game.achievement"/>
      <meta property="og:title" content="BattleShip | &eta;vision 2016"/>
      <meta property="og:description" content="Realtime multiplayer battleship game by &eta;vision 2016"/>
      <meta property="og:site_name" content="&eta;vision"/>
      <meta property="og:image" content="https://battleship.nvision.org.in/img/logo.png"/>
      <meta property="game:points" content="1000"/>

  </head>
  <body>
  <style type="text/css">
    body {
      overflow-y: hidden;
      padding: 2em;
    }
    #menu-container {
      text-align: center;
      width: 100%;
      padding: 8em;
      padding-top: 4em;
      height: 100vh;
      background: url(/img/old_paper_scroll.png) no-repeat;
      background-size: contain;
    }
    #menu-container a {
      font-size: 2em;
      color: #662200;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 0 4px #dec5a0;
    }
    #menu-container a:hover {
      text-shadow: 0 0 1px #000;
    }
    .announcement {
      display: inline-block;
      padding: 3px 2em;
      color: brown;
      font-weight: bold;
      background-color: #ebdcc6;
      text-align:center;
      font-size:1.3em;
      border-radius: 1em;
    }
    .announcement:hover {
      box-shadow: 0 0 10px #000 , 0 0 10px #000;
    }
  </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:center">
            <p class="announcement">We will announce the winner tomorrow (20th Sept) at 11:59 PM</p>
                <ul class="menu" id="menu-container">
                    <li style="font-size:2.5em">
                      <img src="/img/nvision_b.png" class="img-responsive" width="210" style="display:inline-block">Dockyard
                    </li>
                    <li>&nbsp;</li>
                    <li><a href="/war!">PLAY WITH RANDOM USER</a></li><br>
                    <li><a href="/online">PLAY WITH A SPECIFIC USER</a></li><br>
                    <li><a href="/myHistory">MY PLAY HISTORY</a></li><br>
                    <li><a href="/leaderboard">LEADERBOARD</a></li><br>
                    <li><a href="/rules">RULES</a></li><br>
                    <li><a href="/logout">EXIT</a></li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- <pre id="notifications">
    </pre> -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript">
      var socket = io();
      $(function(){
        socket.on('notification', function(data){
          $("#notifications").html(JSON.stringify(data))
          var accepted = confirm(data.username + " challenged you for a game");
          if(accepted) {
            window.open('/u/'+data.username,'_self');
          }
        })
      });
    </script>
<script type="text/javascript">console.log('</> with '+ String.fromCharCode(9829) + ' by '+String.fromCharCode(951)+'vision');</script>
  </body>
</html>
