<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&eta;vision - Battleship</title>
  </head>
  <body>
    <a href="/war!">Play Now!</a><br>
    <a href="/myHistory">History</a><br>
    <a href="/logout">Logout</a><br>
    <pre id="online-users">
    </pre>
    <pre id="notifications">
    </pre>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript">
      var socket = io();
      $(function(){
        socket.on('online-users', function(data){
          console.log(data)
          $("#online-users").html(JSON.stringify(data))
        })
        socket.on('notification', function(data){
          console.log(data)
          $("#notifications").html(JSON.stringify(data))
        })
      });
    </script>
  </body>
</html>
