<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/war!">Play Now!</a><br>
    <a href="/myHistory">History</a><br>
    <a href="/logout">Logout</a><br>
    <div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  </body>
</html>
