<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>&eta;vision - Battleship</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/indexstyle.css">
      <link rel="stylesheet" href="/css/fonts.css">
  </head>
  <body>
  <style type="text/css">
    #menu-container {
      text-align: center;
      width: 50em;
      height: 50em;
      padding: 9em;
      background: url(/img/old_paper_scroll.png) no-repeat;
      background-size: contain; 
    }
    #menu-container a {
      font-size: 2em;
      color: brown;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 0 1px #dec5a0;
    }
    #menu-container a:hover {
      text-shadow: 0 0 1px #000;
    }
    #online-users li {
      background: #dec5a0;
    }
    #online-users a {
      text-decoration: none;
    }
  </style>
    <!--<div class="navbar navbar-inverse">-->
        <!--<div class="container-fluid">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li><a href="/war!">Play with random player</a></li>-->
                <!--<li><a href="/myHistory">History</a></li>-->
                <!--<li><a href="/logout">Logout</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container-fluid">
        <div class="row">
            <a id="logout" href="/logout" style="float: right">Logout</a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <ul class="menu" id="menu-container">
                    <li><a href="/war!">PLAY WITH RANDOM USER</a></li><br>
                    <li><a href="/myHistory">MY HISTORY</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="affix"><ul id="online-users" class="list-group"></ul></div>
            </div>
        </div>
    </div>

    <!--<pre id="notifications">-->
    <!--</pre>-->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript">
      var socket = io();
      $(function(){
        socket.on('online-users', function(data){
            var ou = $('#online-users');
            ou.html("");
            for (var u in data) {
                if (data.hasOwnProperty(u) && data[u].length != 0 && u!="<%= username%>") ou.append(`<li class="list-group-item">
                    <a href="/u/${u}" target="_blank"><div><img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" style="height: 50px;"> ${u}</div></a>
                    </li>`);
//                for (var i=0; i<15; i++) ou.append(`<li class="list-group-item">
//                    <a href="/u/${u}" target="_blank"><div><img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" style="height: 50px;"> ${u}</div></a>
//                </li>`);
            }

        });
        socket.on('notification', function(data){
          console.log(data)
          $("#notifications").html(JSON.stringify(data))
        })
      });
    </script>
  </body>
</html>
