<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Battleship - &eta;vision</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/fonts.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="description" content="Olympic Quiz">
      <meta name="author" content="Nvision 2016">
      <meta name="keyword" content="techno-management,technical,IIT Hyderabad,fest,competitions,events,game,battle,ship,battleship,multiplayer">
      <meta name="robots" content="index, follow">

      <meta property="og:url" content="https://battleship.nvision.org.in/"/>
      <meta property="og:type" content="game.achievement"/>
      <meta property="og:title" content="BattleShip | &eta;vision 2016"/>
      <meta property="og:description" content="Realtime multiplayer battleship game by &eta;vision 2016"/>
      <meta property="og:site_name" content="&eta;vision"/>
      <meta property="og:image" content="https://battleship.nvision.org.in/img/logo.png"/>
      <meta property="game:points" content="1000"/>

  </head>
  <body>
  <style type="text/css">
    body {
      background: url("../img/index_bg.jpg") center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      padding: 3em;
    }
    table thead th, table tbody tr {
      color: brown;
    }
    .woodtext {
      color: #dec5a0;
      font-weight: bold;
      text-shadow: 0 0 8px #000;
    }
    a:hover {
      color: brown;
    }
  </style>
  <legend class="woodtext" style="text-align:center;font-size:40px;">
    <a href="/" class="woodtext" style="float:left;text-decoration:none">
      <img style="height: 2em; width: auto; display: inline" src="/img/nvision.png" class="img-responsive">Dockyard
    </a>
    <span style="text-shadow:0 0 2px #000 , 0 0 2px #000">LEADERBOARD</span>
    <!-- <a href="/" class="woodtext" style="float:right;text-decoration:none">
        <img src="/img/lambda.png" style="height: 2em; width: auto; display: inline" class="img-responsive">
    </a> -->
    </legend>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
            Last Updated: <%= update %><br>
          <table class="table table-striped table-hover">
            <thead>
              <th>
                <td style="font-size:16px;text-align: center;">Player</td>
                <td style="font-size:16px;text-align: center;"></td>
                <td style="font-size:16px;text-align: center;">Battles won</td>
                <td style="font-size:16px;text-align: center;"></td>
              </th>
            </thead>
            <tbody>
              <% for(var i=0 ; i<users.length ; i++) { %>
                <tr>
                  <td></td>
                  <td style="text-align: center;"><%= users[i].username %><td>
                  <td style="text-align: center;"><%= users[i].gamesWon %><td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<script type="text/javascript">console.log('</> with '+ String.fromCharCode(9829) + ' by '+String.fromCharCode(951)+'vision');</script>
  </body>
</html>
