<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Battleship - &eta;vision</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/fonts.css">
    <script src="https://use.fontawesome.com/548009fd68.js"></script>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<!--<link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
 <![endif]-->

      <meta name="description" content="Olympic Quiz">
      <meta name="author" content="Nvision 2016">
      <meta name="keyword" content="techno-management,technical,IIT Hyderabad,fest,competitions,events,game,battle,ship,battleship,multiplayer">
      <meta name="robots" content="index, follow">

      <meta property="og:url" content="https://battleship.nvision.org.in/"/>
      <meta property="og:type" content="game.achievement"/>
      <meta property="og:title" content="BattleShip | &eta;vision 2016"/>
      <meta property="og:description" content="Realtime multiplayer battleship game by &eta;vision 2016"/>
      <meta property="og:site_name" content="&eta;vision"/>
      <meta property="og:image" content="https://battleship.nvision.org.in/img/logo.png"/>
      <meta property="game:points" content="1000"/>

</head>

<body>


		<div class='logo' style="-webkit-filter: drop-shadow(0 0 15px #000);filter: drop-shadow(0 0 15px #000);"></div>
    <div class='logo1' style="-webkit-filter: drop-shadow(0 0 15px #000);filter: drop-shadow(0 0 15px #000);"></div>

  <!-- WRAPPER STARTS HERE-->
<div class='wrapper'>

<header><!-- HEADER STARTS HERE-->


<div class='container titles yomer-text-center'>
<h1 data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s">
 Battleship!
</h1>
<div class='subhead'>
 <p></p>
 <div class='buttons'><br><br><br><br><br>
    <form method="GET" action="/auth/google"><button class="form-submit googleplus" type="submit" title="Enter the dockyard!"></button></form>
</div>
</div><br><br><br><br>
<a href="#about" id="scrollDown">
  <img src="/img/header-downarrow.png">
</a>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#scrollDown").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top}, 1000);
    });
  });
</script>

</header><!-- /HEADER ENDS HERE-->
<!-- ABOUT US STARTS HERE-->
<section class='aboutus' id='about'>
<div class='container'>
<div class="row">
                <div class="col-md-12 yomer-text-center">
                    <!-- <h2>About</h2> -->
                    <p class="bigtext">
                        Everyone loves games. So we thought, why not make it fun? And it's even more fun when you play with your friends. <br><br>
                        &eta;vision, IIT Hyderabad in collaboration with Lambda, IIT Hyderabad are here with a fun multiplayer game.
                        So put on your thinking caps and get ready for an intense game of battleship. <br><br>
                        Dive right in and challenge yourself to sink all five ships fastest.
                    </p>
                </div>
            </div>

</div>

</section>
<!-- /ABOUT US ENDS HERE HERE-->
<!-- OUR MISSION STARTS HERE-->
<section class="ourmission " id='mission'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 yomer-text-center">
                    <h3>WHAT ARE YOU WAITING FOR?<br><br>  <form method="GET" action="/auth/google"><button class="form-submit googleplus" type="submit" title="Enter the dockyard!"></button></form></h3>

                </div>
            </div>
        </div>
    </section>

<!--/ OUR MISSION ENDS HERE-->

<!--WHY CHOSE STARTS HERE HERE-->

<!-- SOCIAL STARTS HERE-->
<section class="social " id='social'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="social_icons">
                    <ul>
                      <li style="color:#fff;font-size:2em">
                        &#60;/&#62; with <span style="color:#ff3333 !important">&#9829;</span> by &eta;vision
                      </li>
                    </ul>

                      <!-- <ul>
                        <li class="facebook"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-facebook"></i> </a> </li>
                        <li class="twitter"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-twitter"></i> </a> </li>
                        <li class="googleplus"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-google"></i> </a> </li>
                        <li class="linkedin "> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-linkedin"></i> </a> </li>
                        <li class="pinterest"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-pinterest"></i> </a> </li>
                      </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--/ SOCIAL ENDS HERE-->



</div> <!-- /WRAPPER ENDS HERE DESIGNED BY VIJAYAN PP-->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/scrollReveal.js'></script>
<script type='text/javascript'>
jQuery(document).ready(function(){


				$(".top").click(function(){
					$("html, body").animate({ scrollTop: 0 }, "slow");
					return false;
				});
				$(".btMenu").click(function(){

					if($(".menu").children(".menuItem").css("display") == "none"){
						$(".menu").children(".menuItem").slideDown();
					}
					else{
						$(".menu").children(".menuItem").slideUp();
					}
				});
				$(window).resize(function(){
					if($(window).innerWidth() > 900){
						$(".menu").children(".menuItem").css("display", "block");
					}
					else{
						$(".menu").children(".menuItem").css("display", "none");
					}
				});

				(function(k){'use strict';k(['jquery'],function($){var j=$.scrollTo=function(a,b,c){return $(window).scrollTo(a,b,c)};j.defaults={axis:'xy',duration:parseFloat($.fn.jquery)>=1.3?0:1,limit:!0};j.window=function(a){return $(window)._scrollable()};$.fn._scrollable=function(){return this.map(function(){var a=this,isWin=!a.nodeName||$.inArray(a.nodeName.toLowerCase(),['iframe','#document','html','body'])!=-1;if(!isWin)return a;var b=(a.contentWindow||a).document||a.ownerDocument||a;return/webkit/i.test(navigator.userAgent)||b.compatMode=='BackCompat'?b.body:b.documentElement})};$.fn.scrollTo=function(f,g,h){if(typeof g=='object'){h=g;g=0}if(typeof h=='function')h={onAfter:h};if(f=='max')f=9e9;h=$.extend({},j.defaults,h);g=g||h.duration;h.queue=h.queue&&h.axis.length>1;if(h.queue)g/=2;h.offset=both(h.offset);h.over=both(h.over);return this._scrollable().each(function(){if(f==null)return;var d=this,$elem=$(d),targ=f,toff,attr={},win=$elem.is('html,body');switch(typeof targ){case'number':case'string':if(/^([+-]=?)?\d+(\.\d+)?(px|%)?$/.test(targ)){targ=both(targ);break}targ=win?$(targ):$(targ,this);if(!targ.length)return;case'object':if(targ.is||targ.style)toff=(targ=$(targ)).offset()}var e=$.isFunction(h.offset)&&h.offset(d,targ)||h.offset;$.each(h.axis.split(''),function(i,a){var b=a=='x'?'Left':'Top',pos=b.toLowerCase(),key='scroll'+b,old=d[key],max=j.max(d,a);if(toff){attr[key]=toff[pos]+(win?0:old-$elem.offset()[pos]);if(h.margin){attr[key]-=parseInt(targ.css('margin'+b))||0;attr[key]-=parseInt(targ.css('border'+b+'Width'))||0}attr[key]+=e[pos]||0;if(h.over[pos])attr[key]+=targ[a=='x'?'width':'height']()*h.over[pos]}else{var c=targ[pos];attr[key]=c.slice&&c.slice(-1)=='%'?parseFloat(c)/100*max:c}if(h.limit&&/^\d+$/.test(attr[key]))attr[key]=attr[key]<=0?0:Math.min(attr[key],max);if(!i&&h.queue){if(old!=attr[key])animate(h.onAfterFirst);delete attr[key]}});animate(h.onAfter);function animate(a){$elem.animate(attr,g,h.easing,a&&function(){a.call(this,targ,h)})}}).end()};j.max=function(a,b){var c=b=='x'?'Width':'Height',scroll='scroll'+c;if(!$(a).is('html,body'))return a[scroll]-$(a)[c.toLowerCase()]();var d='client'+c,html=a.ownerDocument.documentElement,body=a.ownerDocument.body;return Math.max(html[scroll],body[scroll])-Math.min(html[d],body[d])};function both(a){return $.isFunction(a)||typeof a=='object'?a:{top:a,left:a}}return j})}(typeof define==='function'&&define.amd?define:function(a,b){if(typeof module!=='undefined'&&module.exports){module.exports=b(require('jquery'))}else{b(jQuery)}}));

				$(".menu").children("li:nth-child(3)").click(function(){
				$("body").scrollTo("#about", 600);

				});

				$(".menu").children("li:nth-child(4)").click(function(){
				$("body").scrollTo("#mission", 600);
				});

				$(".menu").children("li:nth-child(5)").click(function(){

				$("body").scrollTo("#whyus", 600);
				});

				$(".menu").children("li:nth-child(6)").click(function(){
				$("body").scrollTo("#whychose", 600);
				});

			});

			(function($) {
      window.scrollReveal = new scrollReveal();
    })();

</script>


<script type="text/javascript">console.log('</> with '+ String.fromCharCode(9829) + ' by '+String.fromCharCode(951)+'vision');</script>
</body>
</html>
