<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Battleship - &eta;vision</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/indexstyle.css">
      <link rel="stylesheet" href="/css/fonts.css">
      <link rel="stylesheet" href="/css/game.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="description" content="Olympic Quiz">
      <meta name="author" content="Nvision 2016">
      <meta name="keyword" content="techno-management,technical,IIT Hyderabad,fest,competitions,events,game,battle,ship,battleship,multiplayer">
      <meta name="robots" content="index, follow">

      <meta property="og:url" content="https://battleship.nvision.org.in/"/>
      <meta property="og:type" content="game.achievement"/>
      <meta property="og:title" content="BattleShip | &eta;vision 2016"/>
      <meta property="og:description" content="Realtime multiplayer battleship game by &eta;vision 2016"/>
      <meta property="og:site_name" content="&eta;vision"/>
      <meta property="og:image" content="https://battleship.nvision.org.in/img/logo.png"/>
      <meta property="game:points" content="1000"/>

  </head>
  <body>
  <style type="text/css">
    body {
      overflow-y: auto;
      padding: 2em;
      height: 100vh;
    }
    #online-users li {
      background: #f2e8d9;
    }
    #online-users a {
      color: #715428;
      font-weight: bold;
      text-decoration: none;
    }
    legend {
      color: #fff !important;
      text-align: center;
      background-color: #caa368;
    }
  </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" style="text-align: left; margin-bottom: 1em">
          <img src="/img/nvision.png" style="height: 7em">
        </div>
        <div class="col-md-6" style="text-align: center; margin-bottom: 1em">
          <span style="font-size: 5em">Battleship</span>
        </div>
        <div class="col-md-3" style="text-align: right; margin-bottom: 1em">
          <img src="/img/lambda.png" style="height: 7em">
        </div>
      </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                <legend class="woodtext">Online Users</legend>
                <ul id="online-users" class="list-group"></ul>
                <legend><a href="/">Back to Dockyard</a></legend>
            </div>
        </div>
    </div>

    <!--<pre id="notifications">-->
    <!--</pre>-->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript">
      var socket = io();
      $(function(){
        socket.on('online-users', function(data){
          var ou = $('#online-users');
          ou.html("");
          var count = 0;
          for (var u in data) {
              if (data.hasOwnProperty(u) && data[u].length != 0 && u!="<%= username%>"){
                ou.append(`<li class="list-group-item" style="text-align: center;">
                    <a href="/u/${u}"><div>${u}</div></a>
                    </li>`);
                count++;
              }
          }

          if(!count) {
            ou.html('<p style="background:#fff;color:#715428;text-align:center">NO USER IS ONLINE. PLEASE COME AGAIN LATER</p>');
          }

        });
        socket.on('notification', function(data){
          $("#notifications").html(JSON.stringify(data))
          var accepted = confirm(data.username + " challenged you for a battle!");
          if(accepted) {
            window.open('/u/'+data.username,'_self');
          }
        })
      });
    </script>
<script type="text/javascript">console.log('</> with '+ String.fromCharCode(9829) + ' by '+String.fromCharCode(951)+'vision');</script>
  </body>
</html>
