body {
    background: url("../img/index_bg.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body div {
    position: relative;
}

ul.menu {
    list-style: none;
}